# Medplum Configuration
MEDPLUM_BASE_URL=https://api.medplum.com
MEDPLUM_CLIENT_ID=your-client-id-here
MEDPLUM_CLIENT_SECRET=your-client-secret-here

# Application Configuration
PROVIDER_APP_BASE_URL=https://your-app-url.com

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=vintasend-medplum@vinta.com.br
SENDGRID_FROM_NAME=VintaSend Medplum Example